

.proyectsContainer {
  background-color: #111111; /*#e6e6e6;*/
  /*background: linear-gradient(71deg, #080509, #1a171c, #080509);*/
  height: 800px;
  color: #aaaaaa; /*#202020*/
  color: #0b2fce36;
}
.tituloPrincipal {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  font-style: italic;
  margin: 0;
  padding: 50px;
  text-align: center;
  color: #fff;
  /*text-shadow: .1em .1em 0 #0b2fce36;*/

  /*text-shadow: 0 0 5px #999, 0 0 10px #999, 0 0 20px #999, 0 0 40px #0b2fce36,
    0 0 80px #0b2fce36, 0 0 90px #0b2fce36, 0 0 100px #0b2fce36, 0 0 150px #0b2fce36;*/
}

h1 span{
  font-style: normal;
}

.grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  gap: 5rem;
  padding: 25px;
  justify-content: center;
  box-sizing: border-box;
  
}

.proyectTarget{
  background-color: #949494;
  height: 500px;
  width: 100%;
  box-shadow: 0 10px 50px #0b2fce86;
  border-radius: 5px;
}

.imagenesProyects {
  border-radius: 5px 5px 0 0;
  background-color: #18181b;
  height: 400px;
  width: 100%;
  cursor: pointer;
}

.proyectTarget .titleDescription{
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin: 0;
}

.proyectTarget .appDescription{
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  text-align: center;
  margin:3px auto;
}

.proyectTarget:hover {
  position: relative;
  box-shadow: 0 10px 50px #0b2fce;
  transform:   scale(1.03);
  transition: 0.3s;
}


@media (max-width: 550px) {
  .grid {
    grid-template-columns: 100%;
  }
}
